{% if page.lang == 'en' %}
  <button class="mk-footer-heading mk-footer-toggle d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#ftr-col-1" aria-expanded="false" aria-controls="ftr-col-1">
    Statistics <span class="mk-footer-chevron" aria-hidden="true"></span>
  </button>
  <h5 class="mk-footer-heading d-none d-md-block">Statistics</h5>
  <div id="ftr-col-1" class="collapse d-md-block mk-footer-collapse">
    <ul class="mk-footer-links">
      <li><a href="{{ site.baseurl }}/en/">Home</a></li>
      <li><a href="{{ site.baseurl }}/en/blog/">Blog</a></li>
      <li><a href="{{ site.baseurl }}/en/about-us">About us</a></li>
    </ul>
  </div>
{% else %}
  <button class="mk-footer-heading mk-footer-toggle d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#ftr-col-1" aria-expanded="false" aria-controls="ftr-col-1">
    Estatística <span class="mk-footer-chevron" aria-hidden="true"></span>
  </button>
  <h5 class="mk-footer-heading d-none d-md-block">Estatística</h5>
  <div id="ftr-col-1" class="collapse d-md-block mk-footer-collapse">
    <ul class="mk-footer-links">
      <li><a href="{{ site.baseurl }}/pt/estatistica-descritiva">Estatística Descritiva</a></li>
      <li><a href="{{ site.baseurl }}/pt/inferencia-estatistica">Inferência Estatística</a></li>
      <li><a href="{{ site.baseurl }}/pt/probabilidade">Probabilidade</a></li>
      <li><a href="{{ site.baseurl }}/pt/analise-de-dados">Análise de Dados</a></li>
    </ul>
  </div>
{% endif %}
