<h4>Contatti</h4>
<p class="mb-3">
  <a href="mailto:morrisonkulsenn@gmail.com" class="text-white">
    <svg class="icon icon-sm icon-white align-middle mr-2">
      <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-mail"></use>
    </svg>
    morrisonkulsenn@gmail.com
  </a>
</p>
<div class="link-list-wrapper">
  <ul class="footer-list link-list clearfix">
    <li><a class="list-item" href="#" title="Blog">Blog</a></li>
    <li><a class="list-item" href="https://github.com/morrisonkulsenn" title="Github">Github</a></li>
  </ul>
</div>
