{{ include.date | date: "%-d" }}

{% if page.lang == 'pt' %}
{% assign m = include.date | date: "%-m" %}
{% case m %}
{% when  '1' %}de janeiro de
{% when  '2' %}de fevereiro de
{% when  '3' %}de março de
{% when  '4' %}de abril de
{% when  '5' %}de maio de
{% when  '6' %}de junho de
{% when  '7' %}de julho de
{% when  '8' %}de agosto de
{% when  '9' %}de setembro de
{% when '10' %}de outubro de
{% when '11' %}de novembro de
{% when '12' %}de dezembro de
{% endcase %}
{% else %}
{{ include.date | date: "%B" }}
{% endif %}

{{ include.date | date: "%Y" }}
