{% if site.giscus.repo %}
<div class="mk-comments-section mt-5">
  <div class="mk-comments-header">
    <h3 class="mk-comments-title">Comentários</h3>
  </div>
<div class="giscus-container">
  <script src="https://giscus.app/client.js"
    data-repo="{{ site.giscus.repo }}"
    data-repo-id="{{ site.giscus.repo_id }}"
    data-category="{{ site.giscus.category }}"
    data-category-id="{{ site.giscus.category_id }}"
    data-mapping="{{ site.giscus.mapping | default: 'title' }}"
    data-strict="0"
    data-reactions-enabled="{{ site.giscus.reactions_enabled | default: '1' }}"
    data-emit-metadata="0"
    data-input-position="{{ site.giscus.input_position | default: 'top' }}"
    data-theme="{{ site.giscus.theme | default: 'gruvbox_dark' }}"
    data-lang="{{ site.giscus.lang | default: 'pt' }}"
    data-loading="{{ site.giscus.loading | default: 'lazy' }}"
    crossorigin="anonymous"
    async>
  </script>
</div>
</div>
{% endif %}
